[general]
login_delay = 20
# seconds to sleep in-between send Auth Credentials to a unique IP
# set to 0 to disable

worker_stats = false
worker_stats_interval = 5
# how often worker stats are written (in minutes)

koji_url = ""
koji_bearer_token = ""

save_logs = false
debug_log = false
debug_processor = false

host = "0.0.0.0"
port = 9002
apiSecret = ""
bearerToken = ""
# Host and Port
# apiSecret protects api routes
# bearerToken protects device routes


[processors]
golbat_endpoint = "http://127.0.0.1:9001"
golbat_raw_bearer = ""
golbat_api_secret = ""
rdm_endpoints = ["token@http://127.0.0.1:9001/raw"]
# raw_endpoints can be used for any endpoint that accepts the same raw proto format RDM does.
# Golbat Endpoint will be used for other means than just raw processing.
# rdm_endpoints are arrays, so if you i.e. don't want any rdm endpoints, just put `rdm_endpoints = []`. You can also use
# multiple for each.

[db]
host = "0.0.0.0"
port = 3306
user = ""
password = ""
name = "flygon"

[sentry]
dsn = ""

[pyroscope]
server_address = ""

